body{
    margin: 0;
    height: 100%;
}

.header_content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 0px solid black;
}

.logodiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    /* height: 47px; */
    border: 0px solid #42515F;
    opacity: 1;
}

.employee{
    /* top: 0px;
    left: 0px;
    width: 127px;   
    height: 27px; */
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #82A70C;
    text-transform: capitalize;
}

.payroll{
    /* top: 25px;
    left: 0px;
    width: 107px;
    height: 27px; */
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
}

.mainContent{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: white;
    padding: 30px 10px;
    box-sizing: border-box;
}

.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
    padding-bottom: 21px;
}

.empDetailstext{
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}

.empCount{
    background-color: #82A70C;
    color: white;
    border-radius: 42%;
    font-size: 16px;
    width:26px;
    display: inline-block;
    text-align: center;
}

.addButton{
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: white;
    text-transform: capitalize;
    opacity: 1;
    background: green 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding:5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}